### Try Model: Gaussian Naive Bayes classification

In [1]:
from Starts.startmodskl import *

local_kwargs {'nan_drop_row': False, 'nan_zero': False, 'data_path_2': '2_Titanic/data/titanic_no_nan.csv', 'data_path_3': '2_Titanic/data/test.csv', 'nan_mean': True, 'nan_mean_neighbors': False, 'nan_drop_col': False, 'data_path_1': '2_Titanic/data/train.csv', 'drop_obj_col': False}

In [2]:
# There are only numeric columns
StartML.idx_columns(nonan_data)

[('Survived', 0, dtype('int64')),
 ('Pclass', 1, dtype('int64')),
 ('Sex', 2, dtype('int64')),
 ('Age', 3, dtype('float64')),
 ('Ticket', 4, dtype('int64')),
 ('Fare', 5, dtype('float64')),
 ('Title', 6, dtype('int64')),
 ('FamilySize', 7, dtype('int64'))]

In [3]:
nonan_data.head()

   Survived  Pclass  Sex   Age  Ticket     Fare  Title  FamilySize
0         0       3    1  49.0     574   0.0000      5           0
1         1       2    0   7.0     571  26.2500      4           2
2         0       3    1  33.0     378   8.6625      5           0
3         0       3    1  24.0     519  24.1500      5           2
4         1       1    0  30.0       0  86.5000      4           0

In [4]:
# Choose method Linear Regression to predict the Survivors
classifier, y_true, y_pred = StartModSKL.classification_nb(nonan_data, 'Survived')

classifier

Accuracies:  [0.79831933 0.79831933 0.76694915]

Mean of accuracies:  0.787862602668186

Standard Deviation:  0.0147880424019691

GaussianNB(priors=None)

In [5]:
# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [6]:
confusion_matrix(y_true, y_pred)

array([[95, 20],
       [23, 41]])

### Result: 
#### the correct predicted result 136, 
#### the wrong predicted result 43