### Try Model: Polynomial Linear Regression

In [1]:
from Starts.startmodskl import *

local_kwargs {'nan_zero': False, 'nan_drop_col': False, 'data_path_3': '2_Titanic/data/test.csv', 'data_path_2': '2_Titanic/data/titanic_no_nan.csv', 'nan_drop_row': False, 'nan_mean': True, 'data_path_1': '2_Titanic/data/train.csv', 'drop_obj_col': False, 'nan_mean_neighbors': False}

In [2]:
nonan_data.head()

   Survived  Pclass  Sex   Age  Ticket     Fare  Title  FamilySize
0         0       3    1  49.0     574   0.0000      5           0
1         1       2    0   7.0     571  26.2500      4           2
2         0       3    1  33.0     378   8.6625      5           0
3         0       3    1  24.0     519  24.1500      5           2
4         1       1    0  30.0       0  86.5000      4           0

In [3]:
# Choose method Polynomial Linear Regression to predict the Survivors
regressor_poly, y_true, y_pred = StartModSKL.regression_linear(nonan_data, 'Survived', poly=True)

regressor_poly

PolynomialFeatures(degree=3, include_bias=True, interaction_only=False)

In [4]:
# Convert predicted value by rounding it (>0.5 will be considered as 1 else 0)
y_pred = np.array([1 if item>0.5 else 0 for item in y_pred ])

# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [5]:
confusion_matrix(y_true, y_pred)

array([[104,  11],
       [ 21,  43]])

### Result: 
#### the correct predicted result 147, 
#### the wrong predicted result 32