In [1]:
from Starts.startmod import *
info_mod

local_kwargs {'nan_zero': False, 'data_path_2': '2_Titanic/data/titanic_no_nan.csv', 'nan_mean': True, 'nan_drop_col': False, 'data_path_1': '2_Titanic/data/train.csv', 'nan_mean_neighbors': False, 'drop_obj_col': False, 'data_path_3': '2_Titanic/data/test.csv', 'nan_drop_row': False}

{'StartMod.feature_engineering(data)': '\n        Renew data with new_feature using the new attributes_new_feature\n\n        Source:\n            https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/\n\n        :param data: pandas.core.frame.DataFrame\n        :param old_feature:\n        :param new_feature:\n        :param new_attributes:\n        :return: data (with new feature)\n        ',
 'StartMod.feature_engineering_merge_cols(data)': "\n        Merge many features into one new_feature (column)\n\n        :param data: pandas.core.frame.DataFrame\n        :param features: list of the merging features\n        :param new_feature: name of merged new_feature (plus_combined)\n        :param datetime: default is False (if True, then it will merge list of ['date', 'time'] features into\n        new_feature (e.g. 'Date_Time')\n        :return: data (with new column feature)\n        ",
 'StartMod.split_data': '\n        Split data into training_data and test_data used for (regression, classification) methods\n\n        Source:\n            http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html\n\n        :param data: pandas.core.frame.DataFrame\n        :param dependent_label: categorical label\n        :param test_size: (default is 0.2)\n        :param random_state: (default is 0)\n        :param type_pd: (default is Pandas Dataframe)\n        :param split: (default is True)\n        :return: x_train, x_test, y_train, y_test (default type Pandas DataFrame)\n        ',
 'info_help_StartMod': 'StartMod'}

In [2]:
attributes=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Dr', 'Ms', 'Capt']
train_data = StartMod.feature_engineering(train_data, old_feature='Name', new_feature='Title', new_attributes=attributes, 
                                          rm=True)

In [3]:
train_data = StartMod.feature_engineering_merge_cols(train_data, ['SibSp', 'Parch'], 'FamilySize')

In [4]:
train_data.head()
StartMod.nan_columns(train_data)

['Age', 'Cabin', 'Embarked', 'Title']

In [5]:
train_data = StartMod.feature_selection(train_data, ['Pclass', 'Ticket', 'Cabin', 'Embarked'], 
                                        dependent_label='Survived', rm=False)

<class 'numpy.ndarray'> <class 'numpy.ndarray'>
Data might have NaN_value, please clean them before building model

In [6]:
StartMod.idx_columns(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('Sex', 3, dtype('O')),
 ('Age', 4, dtype('float64')),
 ('Ticket', 5, dtype('O')),
 ('Fare', 6, dtype('float64')),
 ('Cabin', 7, dtype('O')),
 ('Embarked', 8, dtype('O')),
 ('Title', 9, dtype('O')),
 ('FamilySize', 10, dtype('int64'))]

In [7]:
StartMod.nan_columns(train_data)

['Age', 'Cabin', 'Embarked', 'Title']

In [8]:
train_data = StartMod.process_nan_simply(train_data, nan_column='Title')

In [9]:
StartMod.nan_columns(train_data)

['Age', 'Cabin', 'Embarked']

In [10]:
train_data = StartMod.process_nan_columns(train_data)

In [11]:
non_obj_features, obj_features = StartMod.feature_columns(train_data)
non_obj_features, obj_features

(['PassengerId', 'Survived', 'Pclass', 'Age', 'Fare', 'FamilySize'],
 ['Sex', 'Ticket', 'Cabin', 'Embarked', 'Title'])

In [12]:
StartMod.nan_columns(train_data)

['Cabin', 'Embarked']

In [13]:
# drop column with NaN
func = lambda col: train_data.drop(col, axis=1)
train_data = func(['Cabin', 'Embarked'])

In [14]:
train_data.head()
StartMod.nan_columns(train_data)

[]

In [15]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'Ticket', 'Fare',
       'Title', 'FamilySize'],
      dtype='object')

In [16]:
# label encode column 'Sex' and 'Title' 
train_data = StartMod.encode_label_column(train_data, label_columns=['Title', 'Sex', 'Ticket'], one_hot=False)
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,Ticket,Fare,Title,FamilySize
0,1,0,3,1,22.0,523,7.2500,5,1
1,2,1,1,0,38.0,596,71.2833,6,1
2,3,1,3,0,26.0,669,7.9250,4,0
3,4,1,1,0,35.0,49,53.1000,6,1
4,5,0,3,1,35.0,472,8.0500,5,0

In [17]:
train_data = train_data.drop('PassengerId', axis=1)
StartMod.idx_columns(train_data)

[('Survived', 0, dtype('int64')),
 ('Pclass', 1, dtype('int64')),
 ('Sex', 2, dtype('int64')),
 ('Age', 3, dtype('float64')),
 ('Ticket', 4, dtype('int64')),
 ('Fare', 5, dtype('float64')),
 ('Title', 6, dtype('int64')),
 ('FamilySize', 7, dtype('int64'))]

In [18]:
from sklearn.utils import shuffle
train_data = shuffle(train_data)
train_data.to_csv('2_Titanic/data/titanic_no_nan.csv', index=False)