In [1]:
from Starts.startml import *
from Starts.startvis import *
from Starts.startmodrec import *
%matplotlib inline
rcParams['figure.figsize'] = 20, 6

local_kwargs {'data_path_1': '9_RECS/rating_final.csv', 'data_path_2': '9_RECS/chefmozcuisine.csv', 'data_path_3': '', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
rating_final = train_data
rating_final.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [3]:
len(rating_final['userID'].unique()), rating_final['userID'].unique()[0], rating_final['userID'].unique()[1]

(138, 'U1077', 'U1068')

In [4]:
rating_final[rating_final['userID']=='U1077']

    userID  placeID  rating  food_rating  service_rating
0    U1077   135085       2            2               2
1    U1077   135038       2            2               1
2    U1077   132825       2            2               2
3    U1077   135060       1            2               2
433  U1077   135027       0            1               1

In [5]:
rating_final[rating_final['userID']=='U1068']

     userID  placeID  rating  food_rating  service_rating
4     U1068   135104       1            1               2
5     U1068   132740       0            0               0
6     U1068   132663       1            1               1
7     U1068   132732       0            0               0
8     U1068   132630       1            1               1
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

In [6]:
newlist2 = StartML.groupby_rows(rating_final, 'userID')
len(newlist2)

138

In [7]:
StartML.head_dict(newlist2)

[('U1077',
  {'food_rating': {0: 2, 1: 2, 2: 2, 3: 2, 433: 1},
   'placeID': {0: 135085, 1: 135038, 2: 132825, 3: 135060, 433: 135027},
   'rating': {0: 2, 1: 2, 2: 2, 3: 1, 433: 0},
   'service_rating': {0: 2, 1: 1, 2: 2, 3: 2, 433: 1}}),
 ('U1068',
  {'food_rating': {4: 1, 5: 0, 6: 1, 7: 0, 8: 1, 1158: 1, 1159: 1, 1160: 0},
   'placeID': {4: 135104,
    5: 132740,
    6: 132663,
    7: 132732,
    8: 132630,
    1158: 132733,
    1159: 132594,
    1160: 132660},
   'rating': {4: 1, 5: 0, 6: 1, 7: 0, 8: 1, 1158: 1, 1159: 1, 1160: 0},
   'service_rating': {4: 2,
    5: 0,
    6: 1,
    7: 0,
    8: 1,
    1158: 0,
    1159: 1,
    1160: 0}}),
 ('U1067',
  {'food_rating': {9: 2, 10: 1, 11: 2, 12: 0, 13: 0, 14: 0},
   'placeID': {9: 132584,
    10: 132733,
    11: 132732,
    12: 132630,
    13: 135104,
    14: 132560},
   'rating': {9: 2, 10: 1, 11: 1, 12: 1, 13: 0, 14: 1},
   'service_rating': {9: 2, 10: 1, 11: 2, 12: 1, 13: 0, 14: 0}}),
 ('U1103',
  {'food_rating': {15: 2, 16: 0, 17: 2, 18: 2, 19: 2, 20: 2, 21: 0, 22: 2},
   'placeID': {15: 132584,
    16: 132732,
    17: 132630,
    18: 132613,
    19: 132667,
    20: 135104,
    21: 132663,
    22: 132733},
   'rating': {15: 1, 16: 0, 17: 1, 18: 2, 19: 1, 20: 1, 21: 1, 22: 2},
   'service_rating': {15: 1,
    16: 2,
    17: 0,
    18: 2,
    19: 2,
    20: 0,
    21: 2,
    22: 2}}),
 ('U1107',
  {'food_rating': {23: 2, 24: 2, 25: 2},
   'placeID': {23: 132660, 24: 132584, 25: 132733},
   'rating': {23: 2, 24: 2, 25: 2},
   'service_rating': {23: 1, 24: 2, 25: 2}})]

In [8]:
print(newlist2['U1077']['food_rating'].values(), newlist2['U1077']['service_rating'].values(), newlist2['U1077']['rating'].values())
print(newlist2['U1068']['food_rating'].values(), newlist2['U1068']['service_rating'].values(), newlist2['U1068']['rating'].values())

dict_values([2, 2, 2, 2, 1]) dict_values([2, 1, 2, 2, 1]) dict_values([2, 2, 2, 1, 0])
dict_values([1, 0, 1, 0, 1, 1, 1, 0]) dict_values([2, 0, 1, 0, 1, 0, 1, 0]) dict_values([1, 0, 1, 0, 1, 1, 1, 0])

In [9]:
# Compute correlation between userID
# Example: compute correlation of rating between user U1001 and the other users
newlist2['U1001']['placeID']

{215: 132830,
 216: 132825,
 688: 135085,
 689: 135040,
 690: 135039,
 691: 135045,
 692: 135033,
 693: 135025,
 694: 135051}

In [10]:
# drop columns userID and placeID which are not rating_features
column_rating = rating_final.drop(['userID', 'placeID'], axis=1).columns
column_rating

Index(['rating', 'food_rating', 'service_rating'], dtype='object')

In [11]:
newlist2['U1011']['rating'], StartML.getkeyby_value(newlist2['U1011']['placeID'], 132715)

({1152: 2, 1154: 1, 1157: 1}, [1157])

In [12]:
# find the most nearest neighbors between userkey and others
userkey = 'U1021'
print(userkey, newlist2[userkey]['placeID'])
for cr in column_rating:
    print(cr, newlist2[userkey][cr])
print("\n")

rating_user = []
rating_list = []
correl = []
x = list(newlist2.keys())
x.remove(userkey)
for k1 in x:
    # find the common visited placeID between user 'U1011' and others    
    inter = StartML.intersect_dict(newlist2[k1]['placeID'], newlist2[userkey]['placeID'])
    if len(inter):
        print(k1, inter)
        for k2 in inter:
            for cr in column_rating:                
                # print("--->", k2[0], cr, newlist2[k1][cr][k2[0]])                
                rating_list.append(newlist2[k1][cr][k2[0]])
            
            place_key = StartML.getkeyby_value(newlist2[userkey]['placeID'], k2[1])            
            for k in place_key:                
                rating_user.append(newlist2[userkey]['rating'].get(k))
                rating_user.append(newlist2[userkey]['food_rating'].get(k)) 
                rating_user.append(newlist2[userkey]['service_rating'].get(k))

        print(k1, "rating_list: ", rating_list)                
        print(userkey, "rating_user: ", rating_user)
        
        # create result as dataframe
        if len(rating_user) == len(rating_list):
            df = {userkey: rating_user, k1: rating_list}
            pdf = pd.DataFrame(df, columns=[userkey, k1])
            print(pdf)
            # compute Pearson correlation        
            r = StartModREC.pearson(pdf)
            print(r)
            
            # add all correlation results into a list
            correl.append((k1, r))
            rating_user = []
            rating_list = []
        print("\n")

U1021 {56: 132740, 58: 132668, 59: 132715}
rating {56: 2, 58: 2, 59: 2}
food_rating {56: 2, 58: 2, 59: 2}
service_rating {56: 1, 58: 2, 59: 1}


U1068 [(5, 132740)]
U1068 rating_list:  [0, 0, 0]
U1021 rating_user:  [2, 2, 1]
   U1021  U1068
0      2      0
1      2      0
2      1      0
numerator  0.0
denominator  0.0
0


U1031 [(33, 132668)]
U1031 rating_list:  [0, 0, 0]
U1021 rating_user:  [2, 2, 2]
   U1021  U1031
0      2      0
1      2      0
2      2      0
numerator  0.0
denominator  0.0
0


U1023 [(35, 132715), (130, 132740)]
U1023 rating_list:  [0, 0, 0, 0, 0, 0]
U1021 rating_user:  [2, 2, 1, 2, 2, 1]
   U1021  U1023
0      2      0
1      2      0
2      1      0
3      2      0
4      2      0
5      1      0
numerator  0.0
denominator  0.0
0


U1060 [(46, 132740)]
U1060 rating_list:  [1, 2, 1]
U1021 rating_user:  [2, 2, 1]
   U1021  U1060
0      2      1
1      2      2
2      1      1
numerator  0.333333333333
denominator  0.666666666667
0.5


U1123 [(53, 132740)]
U1123 rating_list:  [1, 1, 1]
U1021 rating_user:  [2, 2, 1]
   U1021  U1123
0      2      1
1      2      1
2      1      1
numerator  0.0
denominator  0.0
0


U1080 [(132, 132668), (142, 132715)]
U1080 rating_list:  [1, 1, 1, 1, 1, 1]
U1021 rating_user:  [2, 2, 2, 2, 2, 1]
   U1021  U1080
0      2      1
1      2      1
2      2      1
3      2      1
4      2      1
5      1      1
numerator  0.0
denominator  0.0
0


U1028 [(1122, 132740)]
U1028 rating_list:  [1, 1, 1]
U1021 rating_user:  [2, 2, 1]
   U1021  U1028
0      2      1
1      2      1
2      1      1
numerator  0.0
denominator  0.0
0


U1050 [(1119, 132740)]
U1050 rating_list:  [0, 2, 0]
U1021 rating_user:  [2, 2, 1]
   U1021  U1050
0      2      0
1      2      2
2      1      0
numerator  0.666666666667
denominator  1.33333333333
0.5


U1087 [(1132, 132740)]
U1087 rating_list:  [1, 2, 1]
U1021 rating_user:  [2, 2, 1]
   U1021  U1087
0      2      1
1      2      2
2      1      1
numerator  0.333333333333
denominator  0.666666666667
0.5


U1011 [(1157, 132715)]
U1011 rating_list:  [1, 1, 0]
U1021 rating_user:  [2, 2, 1]
   U1021  U1011
0      2      1
1      2      1
2      1      0
numerator  0.666666666667
denominator  0.666666666667
1.0

In [13]:
correl

[('U1068', 0),
 ('U1031', 0),
 ('U1023', 0),
 ('U1060', 0.49999999999999956),
 ('U1123', 0),
 ('U1080', 0),
 ('U1028', 0),
 ('U1050', 0.50000000000000011),
 ('U1087', 0.49999999999999956),
 ('U1011', 1.0000000000000002)]

In [14]:
StartML.findMaxMinValueDict(dict(correl))

{'U1011': 1.0000000000000002}

### Conclusion: we choose the max result in correl_list to see which user_id is the closest one

In [15]:
# newlist2['U1011']['food_rating'][1152]
# df = {'a':[1,2,3,4], 'b':[0,1,2,3]}
# t = pd.DataFrame(df, columns=['a','b'])
# len(t)