In [1]:
from Starts.startml import *
from Starts.startvis import *
from Starts.startmodrec import *
from Starts.startdb import *
%matplotlib inline
rcParams['figure.figsize'] = 20, 6

local_kwargs {'data_path_1': '9_RECS/rating_final.csv', 'data_path_2': '9_RECS/chefmozcuisine.csv', 'data_path_3': '', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
rating_final = train_data
userpayment = pd.read_csv("9_RECS/userpayment.csv")
userprofile = pd.read_csv("9_RECS/userprofile.csv")
usercuisine = pd.read_csv("9_RECS/usercuisine.csv")

chefmozcuisine = nonan_data
chefmozaccepts = pd.read_csv("9_RECS/chefmozaccepts.csv")
chefmozhours4 = pd.read_csv("9_RECS/chefmozhours4.csv")
chefmozparking = pd.read_csv("9_RECS/chefmozparking.csv")

geoplaces2 = pd.read_csv("9_RECS/geoplaces2.csv", encoding = "ISO-8859-1")
rating_final.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [3]:
mongo = StartMongo(db_path='localhost', db_port=27017, db_name='recommendation', coll_name='rating')
mongo.get_db_path(), mongo.get_db_name(), mongo.get_coll_name()

('localhost', 'recommendation', 'rating')

In [4]:
# Clean up all data in collection 
mongo.clean_data(coll_name='rating')

# Insert new data in collection
mongo.insert_data(rating_final)

# Read data from collection
df1 = mongo.read_data()
df1.head()

Querying data from MongoDB .....

,_id,food_rating,placeID,rating,service_rating,userID
0,5ad16969e138230e13162075,2,135085,2,2,U1077
1,5ad16969e138230e13162076,2,135038,2,1,U1077
2,5ad16969e138230e13162077,2,132825,2,2,U1077
3,5ad16969e138230e13162078,2,135060,1,2,U1077
4,5ad16969e138230e13162079,1,135104,1,2,U1068

In [5]:
# Drop all data in collection 
mongo.clean_data(coll_name='rating')

In [6]:
# Read data from collection again
df2 = mongo.read_data()
df2

Querying data from MongoDB .....

Empty DataFrame
Columns: []
Index: []