In [1]:
from Starts.startml import *
from Starts.startvis import *
from Starts.startmodrec import *
%matplotlib inline
rcParams['figure.figsize'] = 20, 6

local_kwargs {'data_path_1': '9_RECS/rating_final.csv', 'data_path_2': '9_RECS/chefmozcuisine.csv', 'data_path_3': '', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
rating_final = train_data
rating_final.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [3]:
len(rating_final['userID'].unique()), rating_final['userID'].unique()[0], rating_final['userID'].unique()[1]

(138, 'U1077', 'U1068')

In [4]:
rating_final[rating_final['userID']=='U1077']

    userID  placeID  rating  food_rating  service_rating
0    U1077   135085       2            2               2
1    U1077   135038       2            2               1
2    U1077   132825       2            2               2
3    U1077   135060       1            2               2
433  U1077   135027       0            1               1

In [5]:
rating_final[rating_final['userID']=='U1068']

     userID  placeID  rating  food_rating  service_rating
4     U1068   135104       1            1               2
5     U1068   132740       0            0               0
6     U1068   132663       1            1               1
7     U1068   132732       0            0               0
8     U1068   132630       1            1               1
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

In [6]:
newlist2 = StartML.groupby_rows(rating_final, 'userID')
len(newlist2)

138

In [7]:
StartML.head_dict(newlist2)

[('U1077',
  {'food_rating': {0: 2, 1: 2, 2: 2, 3: 2, 433: 1},
   'placeID': {0: 135085, 1: 135038, 2: 132825, 3: 135060, 433: 135027},
   'rating': {0: 2, 1: 2, 2: 2, 3: 1, 433: 0},
   'service_rating': {0: 2, 1: 1, 2: 2, 3: 2, 433: 1}}),
 ('U1068',
  {'food_rating': {4: 1, 5: 0, 6: 1, 7: 0, 8: 1, 1158: 1, 1159: 1, 1160: 0},
   'placeID': {4: 135104,
    5: 132740,
    6: 132663,
    7: 132732,
    8: 132630,
    1158: 132733,
    1159: 132594,
    1160: 132660},
   'rating': {4: 1, 5: 0, 6: 1, 7: 0, 8: 1, 1158: 1, 1159: 1, 1160: 0},
   'service_rating': {4: 2,
    5: 0,
    6: 1,
    7: 0,
    8: 1,
    1158: 0,
    1159: 1,
    1160: 0}}),
 ('U1067',
  {'food_rating': {9: 2, 10: 1, 11: 2, 12: 0, 13: 0, 14: 0},
   'placeID': {9: 132584,
    10: 132733,
    11: 132732,
    12: 132630,
    13: 135104,
    14: 132560},
   'rating': {9: 2, 10: 1, 11: 1, 12: 1, 13: 0, 14: 1},
   'service_rating': {9: 2, 10: 1, 11: 2, 12: 1, 13: 0, 14: 0}}),
 ('U1103',
  {'food_rating': {15: 2, 16: 0, 17: 2, 18: 2, 19: 2, 20: 2, 21: 0, 22: 2},
   'placeID': {15: 132584,
    16: 132732,
    17: 132630,
    18: 132613,
    19: 132667,
    20: 135104,
    21: 132663,
    22: 132733},
   'rating': {15: 1, 16: 0, 17: 1, 18: 2, 19: 1, 20: 1, 21: 1, 22: 2},
   'service_rating': {15: 1,
    16: 2,
    17: 0,
    18: 2,
    19: 2,
    20: 0,
    21: 2,
    22: 2}}),
 ('U1107',
  {'food_rating': {23: 2, 24: 2, 25: 2},
   'placeID': {23: 132660, 24: 132584, 25: 132733},
   'rating': {23: 2, 24: 2, 25: 2},
   'service_rating': {23: 1, 24: 2, 25: 2}})]

In [10]:
print(newlist2['U1077']['food_rating'].values(), newlist2['U1077']['service_rating'].values(), newlist2['U1077']['rating'].values())
print(newlist2['U1068']['food_rating'].values(), newlist2['U1068']['service_rating'].values(), newlist2['U1068']['rating'].values())

dict_values([2, 2, 2, 2, 1]) dict_values([2, 1, 2, 2, 1]) dict_values([2, 2, 2, 1, 0])
dict_values([1, 0, 1, 0, 1, 1, 1, 0]) dict_values([2, 0, 1, 0, 1, 0, 1, 0]) dict_values([1, 0, 1, 0, 1, 1, 1, 0])

In [ ]:
# TODO: compute correlation between userID