In [1]:
from Starts.startml import *
from Starts.startvis import *
from Starts.startmodrec import *
from Starts.startdb import *
%matplotlib inline
rcParams['figure.figsize'] = 20, 6

local_kwargs {'data_path_1': '6_ITA/data/italy_earthquakes_from_2016-08-24_to_2016-11-30.csv', 'data_path_2': '6_ITA/data/clustered_italy_earthquakes_from_2016-08-24_to_2016-11-30.csv', 'data_path_3': '', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
rating_final = train_data
userpayment = pd.read_csv("9_RECS/userpayment.csv")
userprofile = pd.read_csv("9_RECS/userprofile.csv")
usercuisine = pd.read_csv("9_RECS/usercuisine.csv")

chefmozcuisine = nonan_data
chefmozaccepts = pd.read_csv("9_RECS/chefmozaccepts.csv")
chefmozhours4 = pd.read_csv("9_RECS/chefmozhours4.csv")
chefmozparking = pd.read_csv("9_RECS/chefmozparking.csv")

geoplaces2 = pd.read_csv("9_RECS/geoplaces2.csv", encoding = "ISO-8859-1")
rating_final.head()

                      Time  Latitude  Longitude  Depth/Km  Magnitude
0  2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1  2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2  2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3  2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4  2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

In [3]:
type(rating_final)

pandas.core.frame.DataFrame

In [4]:
mongo = StartMongo(db_path='localhost', db_port=27017, db_name='recommendation', coll_name='rating')
mongo.get_db_path(), mongo.get_db_name(), mongo.get_coll_name()

('localhost', 'recommendation', 'rating')

In [5]:
# Clean up all data in collection 
mongo.clean_data(coll_name='rating')

# Insert new data in collection
mongo.insert_data(rating_final)

# Read data from collection
df1 = mongo.read_data()
df1.head()

Querying data from MongoDB .....

,Depth/Km,Latitude,Longitude,Magnitude,Time,_id
0,8.1,42.6983,13.2335,6.0,2016-08-24 03:36:32.000,5ad9450fe138230b87fc36bb
1,9.0,42.7123,13.2533,4.5,2016-08-24 03:37:26.580,5ad9450fe138230b87fc36bc
2,9.7,42.7647,13.1723,3.8,2016-08-24 03:40:46.590,5ad9450fe138230b87fc36bd
3,9.7,42.7803,13.1683,3.9,2016-08-24 03:41:38.900,5ad9450fe138230b87fc36be
4,9.7,42.7798,13.1575,3.6,2016-08-24 03:42:07.170,5ad9450fe138230b87fc36bf

In [8]:
type(df1)

pandas.core.frame.DataFrame

In [6]:
# Drop all data in collection 
mongo.clean_data(coll_name='rating')

In [7]:
# Read data from collection again
df2 = mongo.read_data()
df2

Querying data from MongoDB .....

Empty DataFrame
Columns: []
Index: []