### Try Model: Logistic Regression

In [24]:
from startmodskl import *

# Process Nan_Column by dropping them
train_data = StartMod.process_nan_columns(train_data)
StartML.nan_columns(train_data)

[]

In [25]:
# Drop all Object-type columns
train_data = train_data.drop(['Sex', 'Name', 'Ticket'], axis=1)

In [26]:
# There are only numeric columns
StartML.idx_columns(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('SibSp', 3, dtype('int64')),
 ('Parch', 4, dtype('int64')),
 ('Fare', 5, dtype('float64'))]

In [27]:
train_data.head()

   PassengerId  Survived  Pclass  SibSp  Parch     Fare
0            1         0       3      1      0   7.2500
1            2         1       1      1      0  71.2833
2            3         1       3      0      0   7.9250
3            4         1       1      1      0  53.1000
4            5         0       3      0      0   8.0500

In [28]:
# Choose method Linear Regression to predict the Survivors
regressor, y_true, y_pred = StartModSKL.regression_logistic(train_data, 'Survived')

regressor

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [29]:
# Convert predicted value by rounding it (>0.5 will be considered as 1 else 0)
y_pred = np.array([np.round(item) for item in y_pred ])

# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [30]:
confusion_matrix(y_true, y_pred)

array([[94, 35],
       [16, 34]])

### Result: 
#### the correct predicted result 128, 
#### the wrong predicted result 51