### Try Model: Polynomial Linear Regression

In [1]:
from startmodskl import *

# Process Nan_rows by replacing nan with mean_value
train_data = StartMod.process_nan_rows(train_data)
StartMod.get_columns_idx(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('Name', 3, dtype('O')),
 ('Sex', 4, dtype('O')),
 ('Age', 5, dtype('float64')),
 ('SibSp', 6, dtype('int64')),
 ('Parch', 7, dtype('int64')),
 ('Ticket', 8, dtype('O')),
 ('Fare', 9, dtype('float64')),
 ('Cabin', 10, dtype('O')),
 ('Embarked', 11, dtype('O'))]

In [2]:
nan_cols = StartML.nan_columns(train_data)
nan_cols = nan_cols + ['Ticket', 'Name']
nan_cols

['Cabin', 'Embarked', 'Ticket', 'Name']

In [3]:
# these nan_cols are not important for data analyzing and also object type, drop them out
train_data = train_data.drop(nan_cols, axis=1)
StartMod.get_columns_idx(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('Sex', 3, dtype('O')),
 ('Age', 4, dtype('float64')),
 ('SibSp', 5, dtype('int64')),
 ('Parch', 6, dtype('int64')),
 ('Fare', 7, dtype('float64'))]

In [4]:
train_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [5]:
# Encode object_column 
StartMod.encode_label_column(train_data, 'Sex')

# Choose method Polynomial Linear Regression to predict the Survivors
regressor, y_true, y_pred = StartModSKL.regression_linear(train_data, 'Survived', poly=True)

regressor

PolynomialFeatures(degree=3, include_bias=True, interaction_only=False)

In [6]:
# Convert predicted value by rounding it (>0.5 will be considered as 1 else 0)
y_pred = np.array([np.round(item) for item in y_pred ])

# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [7]:
confusion_matrix(y_true, y_pred)

array([[94, 15,  0,  1],
       [23, 45,  1,  0],
       [ 0,  0,  0,  0],
       [ 0,  0,  0,  0]])

### Result: 
#### the correct predicted result 139, 
#### the wrong predicted result 40