## El Nino/Southern Oscillation (ENSO) -  Tropical Atmosphere Ocean (TAO)
- How can the data be used to predict weather conditions throughout the world? 
- How do the variables relate to each other? 
- Which variables have a greater effect on the climate variations? 
- Does the amount of movement of the buoy effect the reliability of the data?

In [1]:
from startml import *

In [2]:
StartML.summary(train_data)

Data Columns: Index(['Observation', 'Year', 'Month', 'Day', 'Date', 'Latitude', 'Longitude',
       'Zonal Winds', 'Meridional Winds', 'Humidity', 'Air Temp',
       'Sea Surface Temp'],
      dtype='object')

Missing values in Data:
Observation         0
Year                0
Month               0
Day                 0
Date                0
Latitude            0
Longitude           0
Zonal Winds         0
Meridional Winds    0
Humidity            0
Air Temp            0
Sea Surface Temp    0
dtype: int64

data.head(10):
   Observation  Year  Month  Day    Date  Latitude  Longitude Zonal Winds  \
0            1    80      3    7  800307     -0.02    -109.46        -6.8
1            2    80      3    8  800308     -0.02    -109.46        -4.9
2            3    80      3    9  800309     -0.02    -109.46        -4.5
3            4    80      3   10  800310     -0.02    -109.46        -3.8
4            5    80      3   11  800311     -0.02    -109.46        -4.2
5            6    80      3   12  800312     -0.02    -109.46        -4.4
6            7    80      3   13  800313     -0.02    -109.46        -3.2
7            8    80      3   14  800314     -0.02    -109.46        -3.1
8            9    80      3   15  800315     -0.02    -109.46          -3
9           10    80      3   16  800316     -0.02    -109.46        -1.2

  Meridional Winds Humidity Air Temp Sea Surface Temp
0              0.7        .    26.14            26.24
1              1.1        .    25.66            25.97
2              2.2        .    25.69            25.28
3              1.9        .    25.57            24.31
4              1.5        .     25.3            23.19
5              0.3        .    24.72            23.64
6              0.1        .    24.66            24.34
7              0.6        .    25.17            24.14
8                1        .    25.59            24.24
9                1        .    26.71            25.94

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178080 entries, 0 to 178079
Data columns (total 12 columns):
Observation         178080 non-null int64
Year                178080 non-null int64
Month               178080 non-null int64
Day                 178080 non-null int64
Date                178080 non-null int64
Latitude            178080 non-null float64
Longitude           178080 non-null float64
Zonal Winds         178080 non-null object
Meridional Winds    178080 non-null object
Humidity            178080 non-null object
Air Temp            178080 non-null object
Sea Surface Temp    178080 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 16.3+ MB
data.info():
None

data.describe():
         Observation           Year          Month            Day  \
count  178080.000000  178080.000000  178080.000000  178080.000000
mean    89040.500000      93.302325       6.504869      15.720536
std     51407.412306       3.393818       3.459657       8.800487
min         1.000000      80.000000       1.000000       1.000000
25%     44520.750000      92.000000       4.000000       8.000000
50%     89040.500000      94.000000       6.000000      16.000000
75%    133560.250000      96.000000      10.000000      23.000000
max    178080.000000      98.000000      12.000000      31.000000

                Date       Latitude      Longitude
count  178080.000000  178080.000000  178080.000000
mean   933689.455374       0.473626     -54.025233
std     33900.474320       4.583041     135.363994
min    800307.000000      -8.810000    -180.000000
25%    920116.000000      -2.010000    -154.950000
50%    940601.000000       0.010000    -111.260000
75%    960617.000000       4.980000     147.010000
max    980623.000000       9.050000     171.080000

Nans_columns:
[]
Nans_rows:
0
None

In [3]:
train_data.head()

,Observation,Year,Month,Day,Date,Latitude,Longitude,Zonal Winds,Meridional Winds,Humidity,Air Temp,Sea Surface Temp
0,1,80,3,7,800307,-0.02,-109.46,-6.8,0.7,.,26.14,26.24
1,2,80,3,8,800308,-0.02,-109.46,-4.9,1.1,.,25.66,25.97
2,3,80,3,9,800309,-0.02,-109.46,-4.5,2.2,.,25.69,25.28
3,4,80,3,10,800310,-0.02,-109.46,-3.8,1.9,.,25.57,24.31
4,5,80,3,11,800311,-0.02,-109.46,-4.2,1.5,.,25.3,23.19

In [4]:
StartML.idx_columns(train_data)

[('Observation', 0, dtype('int64')),
 ('Year', 1, dtype('int64')),
 ('Month', 2, dtype('int64')),
 ('Day', 3, dtype('int64')),
 ('Date', 4, dtype('int64')),
 ('Latitude', 5, dtype('float64')),
 ('Longitude', 6, dtype('float64')),
 ('Zonal Winds', 7, dtype('O')),
 ('Meridional Winds', 8, dtype('O')),
 ('Humidity', 9, dtype('O')),
 ('Air Temp', 10, dtype('O')),
 ('Sea Surface Temp', 11, dtype('O'))]

In [5]:
StartML.obj_num_convert(train_data)
StartML.idx_columns(train_data)

[('Observation', 0, dtype('int64')),
 ('Year', 1, dtype('int64')),
 ('Month', 2, dtype('int64')),
 ('Day', 3, dtype('int64')),
 ('Date', 4, dtype('int64')),
 ('Latitude', 5, dtype('float64')),
 ('Longitude', 6, dtype('float64')),
 ('Zonal Winds', 7, dtype('float64')),
 ('Meridional Winds', 8, dtype('float64')),
 ('Humidity', 9, dtype('float64')),
 ('Air Temp', 10, dtype('float64')),
 ('Sea Surface Temp', 11, dtype('float64'))]

In [6]:
StartML.nan_columns(train_data)

['Zonal Winds', 'Meridional Winds', 'Humidity', 'Air Temp', 'Sea Surface Temp']

In [7]:
train_data.head()

,Observation,Year,Month,Day,Date,Latitude,Longitude,Zonal Winds,Meridional Winds,Humidity,Air Temp,Sea Surface Temp
0,1,80,3,7,800307,-0.02,-109.46,-6.8,0.7,NaN,26.14,26.24
1,2,80,3,8,800308,-0.02,-109.46,-4.9,1.1,NaN,25.66,25.97
2,3,80,3,9,800309,-0.02,-109.46,-4.5,2.2,NaN,25.69,25.28
3,4,80,3,10,800310,-0.02,-109.46,-3.8,1.9,NaN,25.57,24.31
4,5,80,3,11,800311,-0.02,-109.46,-4.2,1.5,NaN,25.30,23.19

In [8]:
train_data.reset_index(drop=True, inplace=True)

In [9]:
train_data = StartML.process_nan_columns(train_data)

In [10]:
StartML.nan_columns(train_data)

[]

In [11]:
train_data.to_csv('nonan_elnino.csv', index=False)