### Analyse data Titanic Disaster

### Try Model: Logistic Regression

In [1]:
# setup absolute path to location of package Starts and config-file 
from inspect import getsourcefile
import os.path as path, sys
current_dir = path.dirname(path.abspath(getsourcefile(lambda:0)))
sys.path.insert(0, current_dir[:current_dir.rfind(path.sep)])

# import package Starts
from Starts.startmodskl import *

local_kwargs {'data_path': './data/train.csv, ./data/titanic_no_nan.csv ,./data/test.csv', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
nonan_data = data[1]
nonan_data.head()

   Survived  Pclass  Sex        Age  Ticket    Fare  Title  FamilySize
0         1       2    0  29.000000     553  10.500      6           0
1         0       2    1  23.000000     119  13.000      5           0
2         0       3    1  28.000000     306   9.500      5           0
3         0       3    1  20.000000     500   9.225      5           0
4         0       1    1  29.699118      13   0.000      5           0

In [3]:
# normalization
StartMod.feature_scaling(nonan_data).head()

   Survived  Pclass  Sex       Age    Ticket      Fare  Title  FamilySize
0       1.0     0.5  0.0  0.359135  0.813235  0.020495  0.750         0.0
1       0.0     0.5  1.0  0.283740  0.175000  0.025374  0.625         0.0
2       0.0     1.0  1.0  0.346569  0.450000  0.018543  0.625         0.0
3       0.0     1.0  1.0  0.246042  0.735294  0.018006  0.625         0.0
4       0.0     0.0  1.0  0.367921  0.019118  0.000000  0.625         0.0

In [4]:
# Choose method Linear Regression to predict the Survivors
regressor, y_true, y_pred = StartModSKL.regression_logistic(nonan_data, 'Survived')

regressor

Accuracies:  [ 0.86111111  0.69444444  0.83098592  0.78873239  0.81690141  0.81690141
  0.73239437  0.74647887  0.83098592  0.83098592]

Mean of accuracies:  0.794992175274

Standard Deviation:  0.0506354104213

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [5]:
# Convert predicted value by rounding it (>0.5 will be considered as 1 else 0)
y_pred = np.array([np.round(item) for item in y_pred ])

# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [6]:
confusion_matrix(y_true, y_pred)

array([[92, 15],
       [18, 54]])

### Result: 
#### the correct predicted result 146, 
#### the wrong predicted result 33