### Analyse data Titanic Disaster

### Model: K-NN classification

In [3]:
# setup absolute path to location of package Starts and config-file 
from inspect import getsourcefile
import os.path as path, sys
current_dir = path.dirname(path.abspath(getsourcefile(lambda:0)))
sys.path.insert(0, current_dir[:current_dir.rfind(path.sep)])

# import package Starts
from Starts.startmodskl import *

In [4]:
nonan_data = idata[1]

# There are only numeric columns
StartML.idx_columns(nonan_data)

[('Survived', 0, dtype('int64')),
 ('Pclass', 1, dtype('int64')),
 ('Sex', 2, dtype('int64')),
 ('Age', 3, dtype('float64')),
 ('Ticket', 4, dtype('int64')),
 ('Fare', 5, dtype('float64')),
 ('Title', 6, dtype('int64')),
 ('FamilySize', 7, dtype('int64'))]

In [5]:
nonan_data.head()

   Survived  Pclass  Sex        Age  Ticket      Fare  Title  FamilySize
0         0       3    1  29.699118     199    7.2292      5           0
1         1       3    0   0.750000     194   19.2583      4           3
2         0       3    1  29.699118     487    6.8583      5           0
3         1       1    1  36.000000      33  120.0000      5           3
4         0       2    1  29.699118     629   15.0500      5           0

In [6]:
StartMod.feature_scaling(nonan_data).head()

   Survived  Pclass  Sex       Age    Ticket      Fare  Title  FamilySize
0       0.0     1.0  1.0  0.367921  0.292647  0.014110  0.625         0.0
1       1.0     1.0  0.0  0.004147  0.285294  0.037590  0.500         0.3
2       0.0     1.0  1.0  0.367921  0.716176  0.013387  0.625         0.0
3       1.0     0.0  1.0  0.447097  0.048529  0.234224  0.625         0.3
4       0.0     0.5  1.0  0.367921  0.925000  0.029376  0.625         0.0

In [7]:
nonan_data.head()

   Survived  Pclass  Sex       Age    Ticket      Fare  Title  FamilySize
0       0.0     1.0  1.0  0.367921  0.292647  0.014110  0.625         0.0
1       1.0     1.0  0.0  0.004147  0.285294  0.037590  0.500         0.3
2       0.0     1.0  1.0  0.367921  0.716176  0.013387  0.625         0.0
3       1.0     0.0  1.0  0.447097  0.048529  0.234224  0.625         0.3
4       0.0     0.5  1.0  0.367921  0.925000  0.029376  0.625         0.0

In [8]:
# Choose method Linear Regression to predict the Survivors
classifier, y_true, y_pred = StartModSKL.classification_knn(nonan_data, dependent_label='Survived')

classifier

Cross_validated scores:  [ 0.73611111  0.81944444  0.83333333  0.88888889  0.81944444  0.76056338
  0.74647887  0.8         0.78571429  0.75714286]

Mean of cross_validated scores:  0.79471216186

Standard Deviation of cross_validated scores:  0.0447563075232

Cross_predicted accuracy: 0.129070106095

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [9]:
# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [10]:
confusion_matrix(y_true, y_pred)

array([[98, 14],
       [18, 49]])

### Result: 
#### the correct predicted result 147
#### the wrong predicted result 32