### Analyse data Titanic Disaster

### Model: Logistic Regression

In [1]:
# setup absolute path to location of package Starts and config-file 
from inspect import getsourcefile
import os.path as path, sys
current_dir = path.dirname(path.abspath(getsourcefile(lambda:0)))
sys.path.insert(0, current_dir[:current_dir.rfind(path.sep)])

# import package Starts
from Starts.startmodskl import *

local_kwargs {'data_path': './data/train.csv, ./data/titanic_no_nan.csv ,./data/test.csv', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
nonan_data = idata[1]
nonan_data.head()

   Survived  Pclass  Sex        Age  Ticket      Fare  Title  FamilySize
0         0       3    1  29.699118     199    7.2292      5           0
1         1       3    0   0.750000     194   19.2583      4           3
2         0       3    1  29.699118     487    6.8583      5           0
3         1       1    1  36.000000      33  120.0000      5           3
4         0       2    1  29.699118     629   15.0500      5           0

In [3]:
# normalization
StartMod.feature_scaling(nonan_data).head()

   Survived  Pclass  Sex       Age    Ticket      Fare  Title  FamilySize
0       0.0     1.0  1.0  0.367921  0.292647  0.014110  0.625         0.0
1       1.0     1.0  0.0  0.004147  0.285294  0.037590  0.500         0.3
2       0.0     1.0  1.0  0.367921  0.716176  0.013387  0.625         0.0
3       1.0     0.0  1.0  0.447097  0.048529  0.234224  0.625         0.3
4       0.0     0.5  1.0  0.367921  0.925000  0.029376  0.625         0.0

In [4]:
# Choose method Linear Regression to predict the Survivors
regressor, y_true, y_pred = StartModSKL.regression_logistic(nonan_data, dependent_label='Survived', regularization=False)

regressor

Cross_validated scores:  [ 0.76388889  0.79166667  0.81944444  0.86111111  0.875       0.81690141
  0.74647887  0.8         0.78571429  0.77142857]

Mean of cross_validated scores:  0.803163424994

Standard Deviation of cross_validated scores:  0.0389635923841

Cross_predicted accuracy: 0.182392344498

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=100, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [5]:
# Convert predicted value by rounding it (>0.5 will be considered as 1 else 0)
y_pred = np.array([np.round(item) for item in y_pred ])

# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [6]:
confusion_matrix(y_true, y_pred)

array([[96, 16],
       [24, 43]])

### Result: 
#### the correct predicted result 139, 
#### the wrong predicted result 40