### Try Model: Gaussian Naive Bayes classification

In [1]:
# setup absolute path to location of package Starts and config-file 
from inspect import getsourcefile
import os.path as path, sys
current_dir = path.dirname(path.abspath(getsourcefile(lambda:0)))
sys.path.insert(0, current_dir[:current_dir.rfind(path.sep)])

# import package Starts
from Starts.startmodskl import *

local_kwargs {'data_path_1': './data/train.csv', 'data_path_2': './data/titanic_no_nan.csv', 'data_path_3': './data/test.csv', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
# There are only numeric columns
StartML.idx_columns(nonan_data)

[('Survived', 0, dtype('int64')),
 ('Pclass', 1, dtype('int64')),
 ('Sex', 2, dtype('int64')),
 ('Age', 3, dtype('float64')),
 ('Ticket', 4, dtype('int64')),
 ('Fare', 5, dtype('float64')),
 ('Title', 6, dtype('int64')),
 ('FamilySize', 7, dtype('int64'))]

In [3]:
nonan_data.head()

   Survived  Pclass  Sex        Age  Ticket    Fare  Title  FamilySize
0         1       2    0  29.000000     553  10.500      6           0
1         0       2    1  23.000000     119  13.000      5           0
2         0       3    1  28.000000     306   9.500      5           0
3         0       3    1  20.000000     500   9.225      5           0
4         0       1    1  29.699118      13   0.000      5           0

In [4]:
# Choose method Linear Regression to predict the Survivors
classifier, y_true, y_pred = StartModSKL.classification_nb(nonan_data, 'Survived')

classifier

Accuracies:  [ 0.83333333  0.66666667  0.81690141  0.74647887  0.84507042  0.83098592
  0.74647887  0.76056338  0.84507042  0.8028169 ]

Mean of accuracies:  0.789436619718

Standard Deviation:  0.0551123519082

GaussianNB(priors=None)

In [5]:
# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [6]:
confusion_matrix(y_true, y_pred)

array([[83, 24],
       [18, 54]])

### Result: 
#### the correct predicted result 137, 
#### the wrong predicted result 42