### Analyse data Titanic Disaster

### Model: Gaussian Naive Bayes classification

In [1]:
# setup absolute path to location of package Starts and config-file 
from inspect import getsourcefile
import os.path as path, sys
current_dir = path.dirname(path.abspath(getsourcefile(lambda:0)))
sys.path.insert(0, current_dir[:current_dir.rfind(path.sep)])

# import package Starts
from Starts.startmodskl import *

local_kwargs {'data_path': './data/train.csv, ./data/titanic_no_nan.csv ,./data/test.csv', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
nonan_data = idata[1]
# There are only numeric columns
StartML.idx_columns(nonan_data)

[('Survived', 0, dtype('int64')),
 ('Pclass', 1, dtype('int64')),
 ('Sex', 2, dtype('int64')),
 ('Age', 3, dtype('float64')),
 ('Ticket', 4, dtype('int64')),
 ('Fare', 5, dtype('float64')),
 ('Title', 6, dtype('int64')),
 ('FamilySize', 7, dtype('int64'))]

In [3]:
nonan_data.head()

   Survived  Pclass  Sex        Age  Ticket      Fare  Title  FamilySize
0         0       3    1  29.699118     199    7.2292      5           0
1         1       3    0   0.750000     194   19.2583      4           3
2         0       3    1  29.699118     487    6.8583      5           0
3         1       1    1  36.000000      33  120.0000      5           3
4         0       2    1  29.699118     629   15.0500      5           0

In [4]:
# Choose method Linear Regression to predict the Survivors
classifier, y_true, y_pred = StartModSKL.classification_gnb(nonan_data, dependent_label='Survived')

classifier

Classes:  [0 1] Class Count:  [ 437.  275.] Class Prior:  [ 0.61376404  0.38623596]

Cross_validated scores:  [ 0.80555556  0.79166667  0.79166667  0.86111111  0.86111111  0.74647887
  0.73239437  0.78571429  0.74285714  0.78571429]

Mean of cross_validated scores:  0.790427006483

Standard Deviation of cross_validated scores:  0.0422267320066

Cross_predicted accuracy: 0.123145412939

GaussianNB(priors=None)

In [5]:
# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [6]:
confusion_matrix(y_true, y_pred)

array([[86, 26],
       [23, 44]])

### Result: 
#### the correct predicted result 130, 
#### the wrong predicted result 49