### Try Model: Tensor Flow Neural Network

In [16]:
from startmodskl import *
from startmodtf import *

# Process Nan_rows by replacing nan with mean_value
train_data = StartMod.process_nan_rows(train_data)
StartMod.idx_columns(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('Name', 3, dtype('O')),
 ('Sex', 4, dtype('O')),
 ('Age', 5, dtype('float64')),
 ('SibSp', 6, dtype('int64')),
 ('Parch', 7, dtype('int64')),
 ('Ticket', 8, dtype('O')),
 ('Fare', 9, dtype('float64')),
 ('Cabin', 10, dtype('O')),
 ('Embarked', 11, dtype('O'))]

In [17]:
nan_cols = StartML.nan_columns(train_data)
nan_cols

['Cabin', 'Embarked']

In [18]:
# append column 'Ticket' to nan_cols
nan_cols.append('Ticket')
nan_cols

['Cabin', 'Embarked', 'Ticket']

In [19]:
# these nan_cols are not important for data analyzing and also object type, drop them out
train_data = train_data.drop(nan_cols, axis=1)
StartMod.idx_columns(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('Name', 3, dtype('O')),
 ('Sex', 4, dtype('O')),
 ('Age', 5, dtype('float64')),
 ('SibSp', 6, dtype('int64')),
 ('Parch', 7, dtype('int64')),
 ('Fare', 8, dtype('float64'))]

In [20]:
# feature engineering column 'Name' with new column 'Title' and drop column 'Name' after that
StartMod.feature_engineering(train_data, 'Name', 'Title', ['Mr', 'Mrs', 'Ms', 'Dr', 'Prof', 'Sir', 'Captain'])
train_data = train_data.drop('Name', axis=1)

In [21]:
StartML.nan_columns(train_data)

['Title']

In [22]:
# process nan_value from column Title
StartML.process_nan_simply(train_data)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Title
0,1,0,3,male,22.0,1,0,7.2500,Mr
1,2,1,1,female,38.0,1,0,71.2833,Mr
2,3,1,3,female,26.0,0,0,7.9250,Unknown
3,4,1,1,female,35.0,1,0,53.1000,Mr
4,5,0,3,male,35.0,0,0,8.0500,Mr
5,6,0,3,male,44.5,0,0,8.4583,Mr
6,7,0,1,male,54.0,0,0,51.8625,Mr
7,8,0,3,male,2.0,3,1,21.0750,Unknown
8,9,1,3,female,27.0,0,2,11.1333,Mr
9,10,1,2,female,14.0,1,0,30.0708,Mr
10,11,1,3,female,4.0,1,1,16.7000,Unknown
11,12,1,1,female,58.0,0,0,26.5500,Unknown
12,13,0,3,male,20.0,0,0,8.0500,Mr
13,14,0,3,male,39.0,1,5,31.2750,Mr
14,15,0,3,female,14.0,0,0,7.8542,Unknown
15,16,1,2,female,55.0,0,0,16.0000,Mr
16,17,0,3,male,2.0,4,1,29.1250,Unknown
17,18,1,2,male,16.5,0,0,13.0000,Mr
18,19,0,3,female,31.0,1,0,18.0000,Mr
19,20,1,3,female,33.0,0,0,7.2250,Mr
20,21,0,2,male,35.0,0,0,26.0000,Mr
21,22,1,2,male,34.0,0,0,13.0000,Mr
22,23,1,3,female,15.0,0,0,8.0292,Unknown
23,24,1,1,male,28.0,0,0,35.5000,Mr
24,25,0,3,female,8.0,3,1,21.0750,Unknown
25,26,1,3,female,38.0,1,5,31.3875,Mr
26,27,0,3,male,28.5,0,0,7.2250,Mr
27,28,0,1,male,19.0,3,2,263.0000,Mr
28,29,1,3,female,29.5,0,0,7.8792,Unknown
29,30,0,3,male,29.5,0,0,7.8958,Mr
...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,11.5000,Mr
862,863,1,1,female,48.0,0,0,25.9292,Mr
863,864,0,3,female,36.0,8,2,69.5500,Unknown
864,865,0,2,male,24.0,0,0,13.0000,Mr
865,866,1,2,female,42.0,0,0,13.0000,Mr
866,867,1,2,female,27.0,1,0,13.8583,Unknown
867,868,0,1,male,31.0,0,0,50.4958,Mr
868,869,0,3,male,17.5,0,0,9.5000,Mr
869,870,1,3,male,4.0,1,1,11.1333,Unknown
870,871,0,3,male,26.0,0,0,7.8958,Mr
871,872,1,1,female,47.0,1,1,52.5542,Mr
872,873,0,1,male,33.0,0,0,5.0000,Mr
873,874,0,3,male,47.0,0,0,9.0000,Mr
874,875,1,2,female,28.0,1,0,24.0000,Mr
875,876,1,3,female,15.0,0,0,7.2250,Unknown
876,877,0,3,male,20.0,0,0,9.8458,Mr
877,878,0,3,male,19.0,0,0,7.8958,Mr
878,879,0,3,male,37.5,0,0,7.8958,Mr
879,880,1,1,female,56.0,0,1,83.1583,Mr
880,881,1,2,female,25.0,0,1,26.0000,Mr
881,882,0,3,male,33.0,0,0,7.8958,Mr
882,883,0,3,female,22.0,0,0,10.5167,Unknown
883,884,0,2,male,28.0,0,0,10.5000,Mr
884,885,0,3,male,25.0,0,0,7.0500,Mr
885,886,0,3,female,39.0,0,5,29.1250,Mr
886,887,0,2,male,27.0,0,0,13.0000,Unknown
887,888,1,1,female,19.0,0,0,30.0000,Unknown
888,889,0,3,female,22.5,1,2,23.4500,Unknown
889,890,1,1,male,26.0,0,0,30.0000,Mr
890,891,0,3,male,32.0,0,0,7.7500,Mr

In [23]:
StartML.idx_columns(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('Sex', 3, dtype('O')),
 ('Age', 4, dtype('float64')),
 ('SibSp', 5, dtype('int64')),
 ('Parch', 6, dtype('int64')),
 ('Fare', 7, dtype('float64')),
 ('Title', 8, dtype('O'))]

In [24]:
# Encode all object-Columns
StartMod.encode_label_column(train_data, 'Sex')

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch      Fare    Title
0              1         0       3    1  22.0      1      0    7.2500       Mr
1              2         1       1    0  38.0      1      0   71.2833       Mr
2              3         1       3    0  26.0      0      0    7.9250  Unknown
3              4         1       1    0  35.0      1      0   53.1000       Mr
4              5         0       3    1  35.0      0      0    8.0500       Mr
5              6         0       3    1  44.5      0      0    8.4583       Mr
6              7         0       1    1  54.0      0      0   51.8625       Mr
7              8         0       3    1   2.0      3      1   21.0750  Unknown
8              9         1       3    0  27.0      0      2   11.1333       Mr
9             10         1       2    0  14.0      1      0   30.0708       Mr
10            11         1       3    0   4.0      1      1   16.7000  Unknown
11            12         1       1    0  58.0      0      0   26.5500  Unknown
12            13         0       3    1  20.0      0      0    8.0500       Mr
13            14         0       3    1  39.0      1      5   31.2750       Mr
14            15         0       3    0  14.0      0      0    7.8542  Unknown
15            16         1       2    0  55.0      0      0   16.0000       Mr
16            17         0       3    1   2.0      4      1   29.1250  Unknown
17            18         1       2    1  16.5      0      0   13.0000       Mr
18            19         0       3    0  31.0      1      0   18.0000       Mr
19            20         1       3    0  33.0      0      0    7.2250       Mr
20            21         0       2    1  35.0      0      0   26.0000       Mr
21            22         1       2    1  34.0      0      0   13.0000       Mr
22            23         1       3    0  15.0      0      0    8.0292  Unknown
23            24         1       1    1  28.0      0      0   35.5000       Mr
24            25         0       3    0   8.0      3      1   21.0750  Unknown
25            26         1       3    0  38.0      1      5   31.3875       Mr
26            27         0       3    1  28.5      0      0    7.2250       Mr
27            28         0       1    1  19.0      3      2  263.0000       Mr
28            29         1       3    0  29.5      0      0    7.8792  Unknown
29            30         0       3    1  29.5      0      0    7.8958       Mr
..           ...       ...     ...  ...   ...    ...    ...       ...      ...
861          862         0       2    1  21.0      1      0   11.5000       Mr
862          863         1       1    0  48.0      0      0   25.9292       Mr
863          864         0       3    0  36.0      8      2   69.5500  Unknown
864          865         0       2    1  24.0      0      0   13.0000       Mr
865          866         1       2    0  42.0      0      0   13.0000       Mr
866          867         1       2    0  27.0      1      0   13.8583  Unknown
867          868         0       1    1  31.0      0      0   50.4958       Mr
868          869         0       3    1  17.5      0      0    9.5000       Mr
869          870         1       3    1   4.0      1      1   11.1333  Unknown
870          871         0       3    1  26.0      0      0    7.8958       Mr
871          872         1       1    0  47.0      1      1   52.5542       Mr
872          873         0       1    1  33.0      0      0    5.0000       Mr
873          874         0       3    1  47.0      0      0    9.0000       Mr
874          875         1       2    0  28.0      1      0   24.0000       Mr
875          876         1       3    0  15.0      0      0    7.2250  Unknown
876          877         0       3    1  20.0      0      0    9.8458       Mr
877          878         0       3    1  19.0      0      0    7.8958       Mr
878          879         0       3    1  37.5      0      0    7.8958       Mr
879          880         1       1    0  56.0      0      1   83.1583       Mr
880          881         1       2    0  25.0      0      1   26.0000       Mr
881          882         0       3    1  33.0      0      0    7.8958       Mr
882          883         0       3    0  22.0      0      0   10.5167  Unknown
883          884         0       2    1  28.0      0      0   10.5000       Mr
884          885         0       3    1  25.0      0      0    7.0500       Mr
885          886         0       3    0  39.0      0      5   29.1250       Mr
886          887         0       2    1  27.0      0      0   13.0000  Unknown
887          888         1       1    0  19.0      0      0   30.0000  Unknown
888          889         0       3    0  22.5      1      2   23.4500  Unknown
889          890         1       1    1  26.0      0      0   30.0000       Mr
890          891         0       3    1  32.0      0      0    7.7500       Mr

[891 rows x 9 columns]

In [25]:
new_values = StartMod.encode_label_column(train_data, 'Title', onehot=True)
new_data = pd.DataFrame(new_values)

In [26]:
StartML.nan_columns(new_data)

[]

In [27]:
new_data.head()

    0    1    2    3    4    5    6    7     8    9    10       11
0  0.0  1.0  0.0  0.0  1.0  0.0  3.0  1.0  22.0  1.0  0.0   7.2500
1  0.0  1.0  0.0  0.0  2.0  1.0  1.0  0.0  38.0  1.0  0.0  71.2833
2  0.0  0.0  0.0  1.0  3.0  1.0  3.0  0.0  26.0  0.0  0.0   7.9250
3  0.0  1.0  0.0  0.0  4.0  1.0  1.0  0.0  35.0  1.0  0.0  53.1000
4  0.0  1.0  0.0  0.0  5.0  0.0  3.0  1.0  35.0  0.0  0.0   8.0500

In [28]:
 train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Title
0            1         0       3    1  22.0      1      0   7.2500      1
1            2         1       1    0  38.0      1      0  71.2833      1
2            3         1       3    0  26.0      0      0   7.9250      3
3            4         1       1    0  35.0      1      0  53.1000      1
4            5         0       3    1  35.0      0      0   8.0500      1

In [29]:
StartML.idx_columns(new_data)
new_data.shape

(891, 12)

In [30]:
# Data is fit, no nan_column and object_column
# Choose method Polynomial Linear Regression to predict the Survivors (column 5)
model, y_true, y_pred = StartModTF.keras_sequential(new_data, 5)

Epoch 1/11
712/712 [==============================] - 2s 3ms/step - loss: 0.6016 - acc: 0.6966
Epoch 2/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4839 - acc: 0.8062
Epoch 3/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4602 - acc: 0.8146
Epoch 4/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4490 - acc: 0.8132
Epoch 5/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4415 - acc: 0.8062
Epoch 6/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4359 - acc: 0.8006
Epoch 7/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4336 - acc: 0.8146
Epoch 8/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4315 - acc: 0.8104
Epoch 9/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4295 - acc: 0.8090
Epoch 10/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4272 - acc: 0.8132
Epoch 11/11
712/712 [==============================] - 2s 3ms/step - loss: 0.4248 - acc: 0.8160

In [31]:
# Convert predicted value by rounding it (>0.5 will be considered as 1 else 0)
y_pred = np.array([1 if item>0.5 else 0 for item in y_pred])

# Compare the predicted value with true_value
len(y_true), len(y_pred)

(179, 179)

In [32]:
confusion_matrix(y_true, y_pred)

array([[95, 15],
       [19, 50]])

### Result: 
#### the correct predicted result 145 
#### the wrong predicted result 34

### so far, the best result we got.