In [1]:
from startmod import *
info_mod

{'StartMod.feature_engineering(data)': '\n        Source:\n            https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/\n\n        renew data with new_feature which has the attributes_new_feature\n        :param data:\n        :param old_feature:\n        :param new_feature:\n        :param attributes_new_feature:\n        :return: data (with new feature)\n        ',
 'StartMod.feature_engineering_merge_cols(data)': '\n        Merge many features into one new_feature (column)\n        :param data:\n        :param features: list of the merging features\n        :param new_feature: name of merged new_feature\n        :return: data (with new column feature)\n        ',
 'info_help_StartMod': 'StartMod'}

In [2]:
attributes=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Dr', 'Ms', 'Capt']
StartMod.feature_engineering(train_data, 'Name', 'Title', attributes_new_feature=attributes).head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Mr
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Master
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Mrs
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Mrs

In [3]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title'],
      dtype='object')

In [4]:
train_data = StartMod.feature_engineering_merge_cols(train_data, ['SibSp', 'Parch'], 'FamilySize')

In [5]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Ticket',
       'Fare', 'Cabin', 'Embarked', 'Title', 'FamilySize'],
      dtype='object')

In [6]:
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,Title,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S,Mr,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,C,Mrs,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S,Miss,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S,Mrs,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S,Mr,0
5,6,0,3,"Moran, Mr. James",male,NaN,330877,8.4583,NaN,Q,Mr,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,17463,51.8625,E46,S,Mr,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,349909,21.0750,NaN,S,Master,4
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,347742,11.1333,NaN,S,Mrs,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,237736,30.0708,NaN,C,Mrs,1

In [7]:
StartML.process_nan_columns(train_data).sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,Title,FamilySize
648,649,0,3,"Willey, Mr. Edward",male,NaN,S.O./P.P. 751,7.5500,NaN,S,Mr,0
607,608,1,1,"Daniel, Mr. Robert Williams",male,27.0,113804,30.5000,NaN,S,Mr,0
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,C.A. 5547,7.5500,NaN,S,Mr,0
486,487,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.0,19943,90.0000,C93,S,Mrs,1
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,349212,7.8958,NaN,S,Mr,0
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.0,C.A. 37671,15.9000,NaN,S,Master,2
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,349245,7.8958,NaN,S,Miss,0
540,541,1,1,"Crosby, Miss. Harriet R",female,36.0,WE/P 5735,71.0000,B22,S,Miss,2
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,16966,134.5000,E34,C,Mrs,2
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.0,CA 2144,46.9000,NaN,S,Mr,7

In [8]:
StartML.nan_columns(train_data)

['Age', 'Cabin', 'Embarked', 'Title']

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
Title          878 non-null object
FamilySize     891 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 83.6+ KB

In [13]:
StartML.idx_columns(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('Name', 3, dtype('O')),
 ('Sex', 4, dtype('O')),
 ('Age', 5, dtype('float64')),
 ('Ticket', 6, dtype('O')),
 ('Fare', 7, dtype('float64')),
 ('Cabin', 8, dtype('O')),
 ('Embarked', 9, dtype('O')),
 ('Title', 10, dtype('O')),
 ('FamilySize', 11, dtype('int64'))]

In [14]:
X = train_data.iloc[:, :-1].values
y = train_data.iloc[:, 11].values
y

array([1, 1, 0, 1, 0, 0, 0, 4, 2, 1, 2, 0, 0, 6, 0, 0, 5, 0, 1, 0, 0, 0, 0,
       0, 4, 6, 0, 5, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 2, 1, 1, 1, 0, 3, 0, 0,
       1, 0, 2, 1, 5, 0, 1, 1, 1, 0, 0, 0, 3, 7, 0, 0, 1, 5, 0, 2, 0, 0, 6,
       2, 0, 7, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 3, 4, 0, 5, 0, 0, 0,
       1, 3, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 2, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 6, 2, 0, 1, 0, 1, 1, 0, 0, 2, 0, 0, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 1, 0, 0, 2, 0, 4, 2, 0, 0, 1, 0, 2, 0, 1, 0, 0, 0, 8, 1,
       0, 0, 0, 5, 2, 1, 5, 0, 0, 0, 5, 2, 0, 0, 2, 4, 0, 0, 0, 8, 0, 6, 3,
       2, 0, 1, 0, 2, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0, 0, 0, 8, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 4,
       1, 0, 0, 6, 0, 0, 1, 2, 0, 0, 1, 1, 0, 0, 0, 2, 0, 2, 2, 1, 0, 2, 0,
       1, 2, 2, 0, 0, 0, 1, 0, 6, 2, 0, 0, 0, 5, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 5, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 3, 0,
       1, 0, 2, 0, 0, 0, 3, 0, 1, 1, 0, 0, 4, 2, 0, 2, 0, 1, 0, 2, 2, 0, 0,
       0, 2, 8, 0, 0, 0, 2, 1, 2, 0, 1, 2, 1, 0, 1, 0, 0, 0, 2, 5, 0, 0, 0,
       0, 0, 1, 2, 0, 0, 0, 2, 1, 0, 0, 1, 0, 0, 0, 5, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 4, 1, 0, 2, 0, 0, 0, 2, 0, 1, 0, 0, 7, 0, 0, 0, 3,
       0, 2, 1, 2, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 2, 0, 4, 0, 0, 1, 0,
       0, 0, 2, 2, 0, 2, 0, 0, 0, 2, 2, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 3, 4,
       5, 5, 0, 2, 0, 1, 0, 0, 2, 1, 0, 3, 0, 3, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 1, 1, 0, 1, 7, 0, 0,
       0, 1, 4, 1, 0, 0, 2, 1, 0, 0, 0, 0, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 1,
       2, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       3, 2, 0, 2, 2, 0, 2, 0, 0, 0, 2, 2, 6, 6, 1, 1, 0, 1, 0, 2, 2, 2, 0,
       0, 0, 0, 0, 1, 0, 2, 1, 0, 0, 0, 0, 0, 2, 0, 4, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 1, 1, 0, 2, 2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 1, 0, 2, 1, 2, 0, 0,
       0, 1, 3, 0, 0, 0, 0, 1, 0, 0, 3, 0, 6, 0, 1, 0, 0, 3, 2, 1, 3, 0, 1,
       1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 2, 5, 1, 0, 0, 5, 0,
       3, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 2, 0, 2, 2, 0, 0, 0, 1, 2, 0,
       0, 0, 1, 2, 1, 0, 0, 0, 0, 0, 0, 7, 1, 0, 0, 0, 7, 2, 3, 5, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 3, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       4, 0, 0, 0, 0, 1, 4, 1, 0, 2, 2, 0, 1, 0, 2, 1, 0, 0, 3, 2, 0, 0, 0,
       0, 0, 0, 0, 3, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 1, 0, 1,
       0, 3, 0, 0, 0, 5, 3, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 2, 0, 2, 3, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 6, 0, 0, 0, 2, 0, 5, 2, 0, 0, 1, 5, 0, 0, 2,
       0, 0, 1, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 0, 1, 1, 6,
       0, 2, 1, 1, 1, 2, 0, 3, 0, 2, 1, 0, 8, 0, 0, 1, 0, 0, 2, 0, 2, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 5, 0, 0, 3, 0, 0])

In [15]:
X = StartMod.encode_label_column(train_data, 'FamilySize')
np.array_equal(X, [])

Warning: type of label_column FamilySize is int64

False

In [16]:
# encode column 'Sex' with text-value into '1' and '0' 
X = StartMod.encode_label_column(train_data, 'Sex', onehot=True)
X[:, 4]

ValueError: could not convert string to float: 'Mr'

In [17]:
StartMod.encode_label_column(train_data, 'Sex')
train_data.sample(100)
train_data['Sex'].dtypes

Warning: type of label_column Sex is int64

dtype('int64')

In [18]:
((train_data.values[:, 4]==1.0).sum(), (train_data.values[:, 4]==0.0).sum()) == (577, 314)

True

In [19]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,Title,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,A/5 21171,7.2500,NaN,S,Mr,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,PC 17599,71.2833,C85,C,Mrs,1
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,STON/O2. 3101282,7.9250,NaN,S,Miss,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,113803,53.1000,C123,S,Mrs,1
4,5,0,3,"Allen, Mr. William Henry",1,35.0,373450,8.0500,NaN,S,Mr,0