In [1]:
from startmod import *
info_mod

{'StartMod.feature_engineering(data)': '\n        Source:\n            https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/\n\n        renew data with new_feature which has the attributes_new_feature\n        :param data:\n        :param old_feature:\n        :param new_feature:\n        :param attributes_new_feature:\n        :return: data (with new feature)\n        ',
 'StartMod.feature_engineering_merge_cols(data)': '\n        Merge many features into one new_feature (column)\n        :param data:\n        :param features: list of the merging features\n        :param new_feature: name of merged new_feature\n        :return: data (with new column feature)\n        ',
 'StartMod.split_data': '\n        split data for regression methods\n\n        Source:\n            http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html\n\n        :param data: Pandas-DataFrame\n        :param dependent_label: categorical label\n        :param test_size: (default is 0.2)\n        :param random_state: (default is 0)\n        :param type_pd: (default is Pandas Dataframe)\n        :param split: (default is True)\n        :return: x_train, x_test, y_train, y_test (default type Pandas DataFrame)\n        ',
 'info_help_StartMod': 'StartMod'}

In [2]:
from startmod import *
attributes=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Dr', 'Ms', 'Capt']
train_data = StartMod.feature_engineering(train_data, old_feature='Name', new_feature='Title', attributes_new_feature=attributes, 
                                          rm=True)

In [3]:
train_data = StartMod.feature_engineering_merge_cols(train_data, ['SibSp', 'Parch'], 'FamilySize')
train_data = StartMod.feature_selection(train_data, ['Ticket', 'Cabin', 'Embarked'])
StartMod.idx_columns(train_data)

[('PassengerId', 0, dtype('int64')),
 ('Survived', 1, dtype('int64')),
 ('Pclass', 2, dtype('int64')),
 ('Sex', 3, dtype('O')),
 ('Age', 4, dtype('float64')),
 ('Fare', 5, dtype('float64')),
 ('Title', 6, dtype('O')),
 ('FamilySize', 7, dtype('int64'))]

In [4]:
StartMod.nan_columns(train_data)

['Age', 'Title']

In [5]:
train_data = StartMod.process_nan_simply(train_data, nan_column='Title')

In [6]:
StartMod.nan_columns(train_data)

['Age']

In [7]:
train_data = StartMod.process_nan_columns(train_data)

In [8]:
non_obj_features, obj_features = StartMod.feature_columns(train_data)
non_obj_features, obj_features

(['PassengerId', 'Survived', 'Pclass', 'Age', 'Fare', 'FamilySize'],
 ['Sex', 'Title'])

In [9]:
StartMod.nan_columns(train_data)

[]

In [10]:
# label encode column 'Sex' and 'Title' 
train_data = StartMod.encode_label_column(train_data, label_columns=['Title', 'Sex'], one_hot=False)
train_data.head()

   PassengerId  Survived  Pclass  Sex   Age     Fare  Title  FamilySize
0            1         0       3    1  22.0   7.2500      5           1
1            2         1       1    0  38.0  71.2833      6           1
2            3         1       3    0  26.0   7.9250      4           0
3            4         1       1    0  35.0  53.1000      6           1
4            5         0       3    1  35.0   8.0500      5           0

In [11]:
train_data = train_data.drop('PassengerId', axis=1)
StartMod.idx_columns(train_data)

[('Survived', 0, dtype('int64')),
 ('Pclass', 1, dtype('int64')),
 ('Sex', 2, dtype('int64')),
 ('Age', 3, dtype('float64')),
 ('Fare', 4, dtype('float64')),
 ('Title', 5, dtype('int64')),
 ('FamilySize', 6, dtype('int64'))]

In [12]:
from sklearn.utils import shuffle
train_data = shuffle(train_data)
train_data.to_csv('data/titanic_no_nan.csv', index=False)