### Simple Exponential Smoothing on Home Sales

In [1]:
# setup absolute path to location of package Starts and config-file 
from inspect import getsourcefile
import os.path as path, sys
current_dir = path.dirname(path.abspath(getsourcefile(lambda:0)))
sys.path.insert(0, current_dir[:current_dir.rfind(path.sep)])

from Starts.startml import *
from Starts.startvis import *
from Starts.startspk import *
%matplotlib inline

local_kwargs {'data_path': './data/single-family-home-sales.xlsx, ./data/champagne-sales.xlsx', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
sales = idata[0]
sales.head()

,Month,Home Sales,Alpha .8,Forecast,Alpha .6,Forecast.1,Alpha .2,Forecast.2
0,1990-01,45.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-02,50.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-03,58.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-04,52.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-05,50.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
sales.tail()

,Month,Home Sales,Alpha .8,Forecast,Alpha .6,Forecast.1,Alpha .2,Forecast.2
67,1995-08,63.0,NaN,NaN,NaN,NaN,NaN,NaN
68,1995-09,55.0,NaN,NaN,NaN,NaN,NaN,NaN
69,1995-10,54.0,NaN,NaN,NaN,NaN,NaN,NaN
70,1995-11,44.0,NaN,NaN,NaN,NaN,NaN,NaN
71,1995-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
StartML.convert_time_series(sales, time_column='Month').head()

ValueError: non convertible value 1990-01 with the unit 'ms'

In [ ]:
hsales = sales['Home Sales']

In [ ]:
# Calculate weight with different smooting parameters alpha = 0.8, 0.6, 0.2
val_hsales = hsales.values[:-1]
weight_alpha_8 = [0.8*(1-0.8)**i for i in reversed(range(len(val_hsales)))]
weight_alpha_6 = [0.6*(1-0.6)**i for i in reversed(range(len(val_hsales)))]
weight_alpha_2 = [0.2*(1-0.2)**i for i in reversed(range(len(val_hsales)))]

In [ ]:
sales.columns, len(sales['Alpha .8'])

In [ ]:
sales['Alpha .8'][:-1] = weight_alpha_8
sales['Alpha .6'][:-1] = weight_alpha_6
sales['Alpha .2'][:-1] = weight_alpha_2

In [ ]:
sales.head()

In [ ]:
forecast = [sales['Home Sales'].values[i]*sales['Alpha .8'].values[i] for i in reversed(range(len(val_hsales)))]
forecast_1 = [sales['Home Sales'].values[i]*sales['Alpha .6'].values[i] for i in reversed(range(len(val_hsales)))]
forecast_2 = [sales['Home Sales'].values[i]*sales['Alpha .2'].values[i] for i in reversed(range(len(val_hsales)))]
sales['Forecast'][:-1] = forecast
sales['Forecast.1'][:-1] = forecast_1
sales['Forecast.2'][:-1] = forecast_2
sales.head()

In [ ]:
sales.tail()

In [ ]:
forecast_dec = np.sum(sales['Forecast'].values[:-1]) 
forecast_1_dec = np.sum(sales['Forecast.1'].values[:-1]) 
forecast_2_dec = np.sum(sales['Forecast.2'].values[:-1]) 

forecast_dec, forecast_1_dec, forecast_2_dec

In [ ]:
sales.loc['1995-12','Forecast']= forecast_dec
sales.loc['1995-12','Forecast.1']= forecast_1_dec
sales.loc['1995-12','Forecast.2']= forecast_2_dec

In [ ]:
sales.fillna(0, inplace=True)
sales.tail()

#### The result of forecast on 1995-12 is calculated with different alpha as following:
#### Alpha = 0.8, forecast = 46.10547
#### Alpha = 0.6, forecast = 48.68308
#### Alpha = 0.2, forecast = 54.838020