### Analyse FEMA Federal Emergencies and Disasters from 1953 to present

In [1]:
# setup absolute path to location of package Starts and config-file 
from inspect import getsourcefile
import os.path as path, sys
current_dir = path.dirname(path.abspath(getsourcefile(lambda:0)))
sys.path.insert(0, current_dir[:current_dir.rfind(path.sep)])

from Starts.startml import *
from Starts.startvis import *
from Starts.startspk import *
import matplotlib as plt
%matplotlib inline

local_kwargs {'data_path_1': './data/federal-emergencies-and-disasters-1953-present/database.csv', 'data_path_2': './data/firefighter-fatalities/database.csv', 'data_path_3': '', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
disasters = train_data
firefighters = test_data

In [3]:
disasters.head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,Yes,No,Yes,Yes
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,Yes,No,Yes,Yes
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,Yes,No,Yes,Yes
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,Yes,No,Yes,Yes
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,Yes,No,Yes,Yes

In [4]:
# Number of Disasters at every state
disaster_states = disasters['State'].unique()
sta_dis=[(st, len(disasters[disasters['State']==st])) for st in disaster_states]
sta_dis

[('GA', 1406),
 ('TX', 3842),
 ('LA', 1393),
 ('MI', 589),
 ('MT', 393),
 ('MA', 347),
 ('IA', 1471),
 ('NH', 248),
 ('FL', 1512),
 ('AK', 155),
 ('MS', 1277),
 ('CA', 1017),
 ('NV', 138),
 ('SD', 960),
 ('WV', 1063),
 ('RI', 89),
 ('ME', 371),
 ('CT', 193),
 ('NY', 1223),
 ('NM', 336),
 ('NC', 1312),
 ('SC', 520),
 ('IN', 1235),
 ('HI', 64),
 ('CO', 480),
 ('KS', 1261),
 ('OK', 1882),
 ('PA', 1081),
 ('NJ', 517),
 ('OR', 358),
 ('WA', 656),
 ('ID', 210),
 ('OH', 1050),
 ('PR', 1121),
 ('KY', 2026),
 ('VA', 1982),
 ('MO', 2263),
 ('AR', 1282),
 ('IL', 1036),
 ('ND', 1112),
 ('MN', 1190),
 ('NE', 1053),
 ('AL', 1207),
 ('DE', 44),
 ('MD', 393),
 ('GU', 14),
 ('TN', 1208),
 ('FM', 31),
 ('WY', 67),
 ('VT', 250),
 ('VI', 55),
 ('WI', 670),
 ('AS', 55),
 ('AZ', 210),
 ('PW', 6),
 ('MP', 32),
 ('UT', 148),
 ('MH', 61),
 ('DC', 20)]

In [5]:
# Total number of disasters happened
disaster_types = disasters['Disaster Type'].unique()
plt_dis=[(dis, len(disasters[disasters['Disaster Type']==dis])) for dis in disaster_types]
plt_dis

[('Tornado', 1412),
 ('Flood', 9317),
 ('Fire', 2647),
 ('Other', 297),
 ('Earthquake', 105),
 ('Hurricane', 8764),
 ('Volcano', 50),
 ('Storm', 16250),
 ('Chemical', 18),
 ('Typhoon', 119),
 ('Drought', 1292),
 ('Dam/Levee Break', 6),
 ('Snow', 3565),
 ('Ice', 1970),
 ('Winter', 301),
 ('Water', 42),
 ('Mud/Landslide', 10),
 ('Human Cause', 6),
 ('Terrorism', 5),
 ('Tsunami', 9)]