In [1]:
# setup absolute path to location of package Starts and config-file 
from inspect import getsourcefile
import os.path as path, sys
current_dir = path.dirname(path.abspath(getsourcefile(lambda:0)))
sys.path.insert(0, current_dir[:current_dir.rfind(path.sep)])

# import package Starts
from Starts.startml import *
from Starts.startvis import *
from Starts.startmodrec import *
from Starts.startdb import *
%matplotlib inline
rcParams['figure.figsize'] = 20, 6

local_kwargs {'data_path': './data/rating_final.csv, ./data/chefmozcuisine.csv', 'drop_obj_col': False, 'nan_drop_col': False, 'nan_drop_row': False, 'nan_zero': False, 'nan_mean': True, 'nan_mean_neighbors': False}

In [2]:
rating_final = data[0]
userpayment = pd.read_csv("./data/userpayment.csv")
userprofile = pd.read_csv("./data/userprofile.csv")
usercuisine = pd.read_csv("./data/usercuisine.csv")

chefmozcuisine = data[1]
chefmozaccepts = pd.read_csv("./data/chefmozaccepts.csv")
chefmozhours4 = pd.read_csv("./data/chefmozhours4.csv")
chefmozparking = pd.read_csv("./data/chefmozparking.csv")

geoplaces2 = pd.read_csv("./data/geoplaces2.csv", encoding = "ISO-8859-1")
rating_final.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [3]:
type(rating_final)

pandas.core.frame.DataFrame

In [4]:
mongo = StartMongo(db_path='localhost', db_port=27017, db_name='recommendation', coll_name='rating')
mongo.get_db_path(), mongo.get_db_name(), mongo.get_coll_name()

('localhost', 'recommendation', 'rating')

In [5]:
# Clean up all data in collection 
mongo.clean_data(coll_name='rating')

# Insert new data in collection
mongo.insert_data(rating_final)

# Read data from collection
df1 = mongo.read_data()
df1.head()

Querying data from MongoDB .....

,_id,food_rating,placeID,rating,service_rating,userID
0,5ae187f3e13823122721becf,2,135085,2,2,U1077
1,5ae187f3e13823122721bed0,2,135038,2,1,U1077
2,5ae187f3e13823122721bed1,2,132825,2,2,U1077
3,5ae187f3e13823122721bed2,2,135060,1,2,U1077
4,5ae187f3e13823122721bed3,1,135104,1,2,U1068

In [6]:
type(df1)

pandas.core.frame.DataFrame

In [7]:
# Drop all data in collection 
mongo.clean_data(coll_name='rating')

In [8]:
# Read data from collection again
df2 = mongo.read_data()
df2

Querying data from MongoDB .....

Empty DataFrame
Columns: []
Index: []